{% extends 'backend/layout.html.twig' %}

{% block head %}
    <link href="{{ asset('assets/css/pages/file-upload.css') }}" rel="stylesheet">
{% endblock %}
{% block title %}{{ titulo|capitalize }}{% endblock %}
{% block content %}
    {% if referrer is not defined %}
        {% set referrer = "dashboard" %}
    {% endif %}


<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    {{ include('backend/inc/_breadcrumb.html.twig') }}

    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <!-- column -->
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Listagem de {{ titulo|capitalize }}</h3>
                    <table class="table table-striped table-bordered" id="myTable">
                        <thead>
                        <tr>
                            <th class="text-nowrap">Action</th>
                            {% for campo in campos %}
                                {% if campo == 'enabled' %}
                                    <th>Ativado?</th>
                                {% else %}
                                    <th>{{ campo|capitalize }}</th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for dado in dados %}
                            <tr>
                                <td class="text-nowrap">
                                    <a href=""
                                       data-toggle="tooltip"
                                       data-original-title="Editar">
                                        <i class="fa fa-pencil text-inverse m-r-10"></i>
                                    </a>

                                    <a class="float-right"
                                       href=""
                                       data-toggle="tooltip"
                                       data-original-title="Apagar">
                                        <i class="mdi mdi-delete text-danger"></i>
                                    </a>
                                </td>
                                {% for campo in campos %}
                                    {% if campo == 'roles' %}
                                        {% if dado.roles[0] == 'ROLE_ADMIN' or dado.roles[0] == 'ROLE_SUPER_ADMIN' %}
                                            <td>Administrador</td>
                                        {% elseif dado.roles[0] == 'ROLE_TECNICO' %}
                                            <td>Técnico</td>
                                        {% else %}
                                            <td>Usuário</td>
                                        {% endif %}
                                    {% elseif campo == 'cor' %}
                                        <td style="background-color: {{ attribute(dado, campo) }};"></td>
                                    {% elseif campo == 'email' or campo == 'username' %}
                                        <td>{{ attribute(dado, campo) }}</td>
                                    {% elseif campo == 'enabled' %}
                                        {% if attribute(dado, campo) == 1 %}
                                            <td>Sim</td>
                                        {% else %}
                                            <td>Não</td>
                                        {% endif %}
                                    {% else %}
                                        <td>{{ attribute(dado, campo)|capitalize }}</td>
                                        {#{%set columna = campo %}
                                        <td contenteditable="true" 
                                            name="{{ campo }}" 
                                            onBlur="saveToDatabase(this,{{dado.id}})">
                                            {{ attribute(dado, campo)|capitalize|trim }}
                                        </td>#}
                                    {% endif %}
                                {% endfor %}

                                {#<td>{{ status.nome|capitalize }}</td>#}
                                {#<td style="background-color: {{ status.cor }};"></td>#}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-body">
                <h3 class="box-title m-b-30">Criar um novo {{ titulo|title }}</h3>
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        {{ form_start(form) }}
                        {{ form_errors(form) }}
                        <div class="form-group">
                            {{ form_widget(form) }}
                        </div>
                        {#<div class="form-group">#}
                            {#{{ form_label(form.nome, 'Nome') }}#}
                            {#{{ form_widget(form.nome, {#}
                                {#'attr': {#}
                                    {#'class': 'form-control', 'placeholder': 'Nome que o novo status vai ter...'}#}
                            {#}) }}#}
                        {#</div>#}
                        {#<div class="form-group">#}
                            {#{{ form_label(form.cor, 'Cor') }}#}
                            {#{{ form_widget(form.cor, {#}
                                {#'attr': {#}
                                    {#'class': 'form-control'}#}
                            {#}) }}#}
                        {#</div>#}
                        {{ include('backend/inc/_botones.accion.html.twig') }}
                        {{ form_widget(form._token) }}
                        {{ form_end(form, {'render_rest': false}) }}
                    </div>
                </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->

</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->





    <!-- ============================================================== -->
    <!-- End Page Content -->
    <!-- ============================================================== -->


{% endblock %}

{% block js %}
    <script src="{{ asset('assets/plugins/datatables/jquery.dataTables.min.js') }}"></script>
   {# 
    <script>
        function saveToDatabase(editableObj,id) {
            var url = 'http://localhost:8000/api/editar_defeito/'+id+'/'+editableObj.attributes["name"].value+'/'+editableObj.innerHTML;
            var urlTrim = url.replace(/ /g,'');
                $.ajax({
                        url: url,
                        type: "PUT",
                        data: id,editableObj,
                        success: function(data){
                                console.log('ok');
                        },
                        error: function(){
                                console.log('nao funciono');
                        } 
           });
        }
    </script>
#}
    <script>
        $(document).ready(function() {
            $('#myTable').DataTable();
            $(document).ready(function() {
                var table = $('#example').DataTable({
                    "columnDefs": [{
                        "visible": false,
                        "targets": 2
                    }],
                    "order": [
                        [2, 'asc']
                    ],
                    "displayLength": 25,
                    "drawCallback": function(settings) {
                        var api = this.api();
                        var rows = api.rows({
                            page: 'current'
                        }).nodes();
                        var last = null;
                        api.column(2, {
                            page: 'current'
                        }).data().each(function(group, i) {
                            if (last !== group) {
                                $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                                last = group;
                            }
                        });
                    }
                });
            });
        });
    </script>
{% endblock %}