<!-- sample modal content -->
{% if formAvatar is defined %}
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myLargeModalLabel">Opcoes</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Escolha um Avatar</h4>
                            {#<label for="input-file-now">Your so fresh input file — Default version</label>#}
                            {#<input type="file" id="input-file-now" class="dropify" />#}
                            {{ form_start(formAvatar, {'attr': {'class': 'form-material m-t-30'}}) }}
                                {{ form_errors(formAvatar) }}
                                {{ form_widget(formAvatar) }}

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    {#<button type="button" class="btn btn-danger waves-effect text-right" data-dismiss="modal">Selecionar</button>#}
                    <button type="submit" class="btn btn-success waves-effect text-right">
                        <i class="mdi mdi-content-save"></i> Salvar & Retornar
                    </button>
                    {{ form_widget(formAvatar._token) }}
                    {{ form_end(formAvatar, {'render_rest': false}) }}
                    <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Sair</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endif %}
<!-- /.modal -->