{% extends 'backend/layout.html.twig' %}

{% block head %}
    <link href="{{ asset('assets/css/pages/timeline-vertical-horizontal.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->

    {#{{ include('dashboard/inc/_breadcrumb.html.twig') }}#}

    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->


    <!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    {{ include('backend/inc/_breadcrumb.html.twig') }}

    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->

    {{ include('backend/dashboard/modules/m.timeline.html.twig') }}

    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->

</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->





    <!-- ============================================================== -->
    <!-- End Page Content -->
    <!-- ============================================================== -->


{% endblock %}

{% block js %}
    <script src="{{ asset('assets/plugins/sparkline/jquery.sparkline.min.js') }}"></script>
{% endblock %}