{% if settings.logo %}
    {% set imagem = settings.logo %}
{% else %}
    {% set imagem = 'default-empresa.jpg' %}
{% endif %}
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<!-- Row -->
<div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body">
                <h3 class="text-center text-primary">{{ settings.nome }}</h3>
                <div><hr></div>
                <div class="text-center justify-content-md-center m-t-30">
                    <img src="{{ asset('assets/images/clients/'~imagem) }}"
                         id="upload"
                         height="150"
                            {#class="img-circle"#}
                         data-toggle="modal" data-target=".bs-example-modal-lg"/>
                </div>
                {#Modal que se ejecuta para cambiar el avatar del usuario#}
                {{ include('backend/dashboard/_modal.Profile.html.twig') }}
            </div>
            <div><hr></div>
            <div class="card-body">
                <small class="text-muted">Email </small>
                <h6>{{ usuario.email }}</h6>
                {#<small class="text-muted p-t-30 db">Telefone</small>#}
                {#<h6>{{ usuario.profile.telefone }}</h6>#}
                {#<h6>{{ usuario.profile.celular }}</h6>#}
                {#<small class="text-muted p-t-30 db">Endereço</small>#}
                {#<h6>{{ usuario.endereco.enderecoCompleto }}</h6>#}
                {#<h5>{{ usuario.endereco.bairro }} {{ usuario.endereco.cidade }} MG</h5>#}

                <small class="text-muted p-t-30 db">Social Profile</small>
                <br/>
                <button class="btn btn-circle btn-secondary"><i class="fa fa-facebook"></i></button>
                <button class="btn btn-circle btn-secondary"><i class="fa fa-twitter"></i></button>
                <button class="btn btn-circle btn-secondary"><i class="fa fa-youtube"></i></button>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs profile-tab" role="tablist">
                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#data" role="tab">Dados</a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Mensagens</a> </li>
                {#<li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#" role="tab">Endereço</a> </li>#}
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">

                <!--first tab-->
                <div class="tab-pane active" id="data" role="tabpanel">
                    <div class="card-body">
                        {#<h3><label class="label-rounded label-light-info">&nbsp;&nbsp;Edicao de dados&nbsp;&nbsp;</label></h3>#}
                        <h3>{{ 'settings.dataEditTitle'|trans }}</h3>
                        {{ form_start(form, {'attr': {'class': 'form-material row m-t-30', 'id': 'settings'}}) }}
                        {{ form_errors(form) }}
                        <div class="form-group col-md-6 m-t-20">
                            {{ form_label(form.nome) }}
                            {{ form_widget(form.nome, {'attr': {'class': 'form-control form-control-line m-b-20'}}) }}
                        </div>
                        <div class="form-group col-md-6 m-t-20">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email, {'attr': {'class': 'form-control form-control-line m-b-20'}}) }}
                        </div>
                        <div class="form-group col-md-6 m-t-20">
                            {{ form_label(form.telefone) }}
                            {{ form_widget(form.telefone, {'attr': {'class': 'form-control form-control-line m-b-20 telefone'}}) }}
                        </div>
                        <div class="form-group col-md-6 m-t-20">
                            {{ form_label(form.celular) }}
                            {{ form_widget(form.celular, {'attr': {'class': 'form-control form-control-line m-b-20'}}) }}
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_label(form.titulo) }}
                            {{ form_widget(form.titulo, {'attr': {'class': 'form-control form-control-line m-b-20'}}) }}
                        </div>
                        {{ include('backend/inc/_botones.accion.html.twig') }}
                        {#{{ form_widget(form._token) }}#}
                        {#{{ form_end(form, {'render_rest': false}) }}#}
                    </div>
                </div>

                <!--second tab-->
                <div class="tab-pane" id="profile" role="tabpanel">
                    <div class="card-body">
                        <h3>Opções de Mensagens</h3>
                        {#{{ form_start(form, {'attr': {'class': 'form-material m-t-30'}}) }}#}
                        {#{{ form_errors(form) }}#}
                        <div class="form-group col-md-12 m-t-20">
                            <h4>Envio/Recepção de Emails</h4>

                            {{ form_widget(form.emailAbertos,
                                {'attr':
                                    {
                                        'class': 'form-check chk-col-gray',
                                        'disabled': 'disabled',
                                        'checked': true
                                    }
                                })
                            }}
                            {{ form_label(form.emailAbertos, 'settings.type.email.open'|trans) }} -opção sempre ativada-

                            {{ form_widget(form.emailTodos,
                                {'attr':
                                    {
                                        'class': 'form-check chk-col-gray',
                                        'disabled': 'disabled',
                                        'checked': true
                                    }
                                })
                            }}
                            {{ form_label(form.emailTodos, 'settings.type.email.all'|trans) }} -opção sempre ativada-

                            {{ form_widget(form.emailAbertosCliente, {'attr': {'class': 'form-check chk-col-light-blue'}}) }}
                            {{ form_label(form.emailAbertosCliente, 'settings.type.email.openClient'|trans) }}

                            {{ form_widget(form.emailTodosCliente, {'attr': {'class': 'form-check chk-col-light-blue'}}) }}
                            {{ form_label(form.emailTodosCliente, 'settings.type.email.allClient'|trans) }}
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            <h4>Envio/Recepção de SMS</h4>
                            <p>Nas fichas de cada Cliente existe a opção de secionar-lho para o envio de SMS sempre que abram um Chamado</p>
                            {{ form_widget(form.smsAbertos, {'attr': {'class': 'form-check chk-col-light-blue'}}) }}
                            {{ form_label(form.smsAbertos, 'settings.type.sms.open'|trans) }}

                            {{ form_widget(form.smsTodos, {'attr': {'class': 'form-check chk-col-light-blue'}}) }}
                            {{ form_label(form.smsTodos, 'settings.type.sms.all'|trans) }}

                            {{ form_widget(form.smsAbertosCliente, {'attr': {'class': 'form-check chk-col-light-blue'}}) }}
                            {{ form_label(form.smsAbertosCliente, 'settings.type.sms.openClient'|trans) }}

                            {{ form_widget(form.smsTodosCliente, {'attr': {'class': 'form-check chk-col-light-blue'}}) }}
                            {{ form_label(form.smsTodosCliente, 'settings.type.sms.allClient'|trans) }}
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            <h4>Envio/Recepção de Voz</h4>
                            {#<p>Nas fichas de cada Cliente existe a opção de secionar-lho para o envio de SMS sempre que Abram um Chamado</p>#}
                            {{ form_widget(form.vozAbertos, {'attr': {'class': 'form-check chk-col-light-blue'}}) }}
                            {{ form_label(form.vozAbertos, 'settings.type.voice.open'|trans) }}

                            {{ form_widget(form.vozTodos, {'attr': {'class': 'form-check chk-col-light-blue'}}) }}
                            {{ form_label(form.vozTodos, 'settings.type.voice.all'|trans) }}

                            {{ form_widget(form.vozAbertosCliente, {'attr': {'class': 'form-check chk-col-light-blue'}}) }}
                            {{ form_label(form.vozAbertosCliente, 'settings.type.voice.openClient'|trans) }}

                            {{ form_widget(form.vozTodosCliente, {'attr': {'class': 'form-check chk-col-light-blue'}}) }}
                            {{ form_label(form.vozTodosCliente, 'settings.type.voice.allClient'|trans) }}
                        </div>
                        {{ include('backend/inc/_botones.accion.html.twig') }}
                        {{ form_widget(form._token) }}
                        {{ form_end(form, {'render_rest': false}) }}
                    </div>
                </div>

                <!--third tab-->
                {#<div class="tab-pane" id="settings" role="tabpanel">#}
                    {#<div class="card-body">#}

                    {#</div>#}
                {#</div>#}
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
<!-- Row -->
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->
