
<!DOCTYPE html>
<html>
<head>

    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="7SqpNi5EWIFr/pvUO08cr4mZcpT5AQUiriVuSFZK8UH04dJ/ZhwudnhcAK/IhqZq9UWZTqSEstSKt1+2QMqOvQ==" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="keywords" content="Belo Horizonte MG"/>
    <link rel="canonical" href="clinicadomicro.com.br/">
    <link rel="shortcut icon" href="favicon.png">
    <link rel="dns-prefetch" href="//softwaremachine.com.br">
    {#<link href='https://assets.autoforce.com' rel='preconnect' crossorigin>#}
    <title>CMicro - Clínica do Micro - Para ser una grande empresa, não precisa ser uma empresa grande!</title>
    <meta name="charset" content="utf-8" />
    <meta name="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:url" content="http://clinicadomicro.com.br/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta name="description" content="" />

    <link rel="stylesheet" media="screen" href="{{ asset('assets/css/public/bootstrap.min.css') }}" />
    <link rel="stylesheet" media="screen" href="{{ asset('assets/css/public/jquery-ui.css') }}" />
    <link rel="stylesheet" media="screen" href="{{ asset('assets/css/public/style.css') }}" />

    <style type="text/css">
        #channel_183,
        #channel_183 .image::after {
            background: -webkit-linear-gradient(15deg, #000000, #0080ff);
            background: -moz-linear-gradient(15deg, #000000, #0080ff);
            background: -ms-linear-gradient(15deg, #000000, #0080ff);
            background: -o-linear-gradient(15deg, #000000, #0080ff);
            background: linear-gradient(15deg, #000000, #0080ff);
        }
        #channel_183 .cta {color: #0080ff;}
        #channel_185,
        #channel_185 .image::after {
            background: -webkit-linear-gradient(15deg, #000000, #0080ff);
            background: -moz-linear-gradient(15deg, #000000, #0080ff);
            background: -ms-linear-gradient(15deg, #000000, #0080ff);
            background: -o-linear-gradient(15deg, #000000, #0080ff);
            background: linear-gradient(15deg, #000000, #0080ff);
        }
        #channel_185 .cta {color: #0080ff;}
        #channel_184,
        #channel_184 .image::after {
            background: -webkit-linear-gradient(15deg, #000000, #000000);
            background: -moz-linear-gradient(15deg, #000000, #000000);
            background: -ms-linear-gradient(15deg, #000000, #000000);
            background: -o-linear-gradient(15deg, #000000, #000000);
            background: linear-gradient(15deg, #000000, #000000);
        }
        #channel_184 .cta {color: #000000;}
    </style>

    <link rel="stylesheet" media="screen" href="{{ asset('assets/css/public/grupogrid3.css') }}" />

    <!-- <meta name="google-site-verification" content="_bFz2GvqrKW8E8ZMlV_QygE172elMIpA-vxvamGFqmI" /> -->
</head>
<body>

<script>
    injectJsonLds();
</script>


<div class="container-fluid">
    <div class="row">
        <h3 class="col-xs-12 text-center">
            <!-- <a href="#"> -->
            <img style="width: 150px; height: 74px;" src="assets/images/public/LogoEmpresa.png" alt="logo cmicro">
            <!-- </a> -->
        </h3>
    </div>
</div>
<div id="channel-list" class="container-fluid">
    <div class="col-xs-12 col-sm-6">
        <script type="application/ld+json">
				{}
			</script>
        <div class="landing">
            <div id="channel_183" class="base overlay">
                <div class="image">
                    <div class="bg-video"
                         data-mp4="http://techslides.com/demos/sample-videos/small.mp4"
                         data-ogv=""
                         data-webm=""
                         data-poster="">
                    </div>
                </div>
                <div class="copy">
                    <div class="">
                        <a href="#"><img style="width: 50px" src="assets/images/public/LogoEmpresa.png" alt="logo cmicro"></a>
                    </div>
                    <h3 class="title">
                        <small> Clínica do Micro</small>Venda de Produtos informáticos
                    </h3>
                    <div class="col-xs-12 col-sm-8 content-text">
                        <div class="text">
                            <p>Conheça os nossos produtos! tem um ideal para você</p>
                        </div>
                    </div>
                    <a href="http://www.clinicadomicro.com.br" class="cta" target="183">Acesse o Site</a>
                </div>
            </div>
            <div class="delimiter"></div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <script type="application/ld+json">
				{}
			</script>
        <div class="landing">
            <div id="channel_185" class="base overlay">
                <div class="image">
                    <div
                            class="bg-video"
                            data-mp4="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4"
                            data-ogv="" data-webm=""
                            data-poster="">
                    </div>
                </div>
                <div class="copy">
                    <div class="">
                        <a href="#"><img style="width: 50px" src="assets/images/public/LogoEmpresa.png" alt="logo cmicro"></a>
                    </div>
                    <h1 class="title">
                        <small>Clínica do Micro</small> Serviços
                    </h1>
                    <div class="col-xs-12 col-sm-8 content-text">
                        <div class="text">
                            <p>Só na Clinica do Micro você pode contratar suporte para a sua empresa ou negócio com total tranquilidade!
                            </p>
                        </div>
                    </div>
                    <a href="http://www.techchip.com.br" class="cta" target="185">Acesse o Site</a>
                </div>
            </div>
            <div class="delimiter"></div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <script type="application/ld+json">
				{}
			</script>
        <div class="landing">
            <div id="channel_184" class="base overlay">
                <div class="image">
                    <div class="bg-video" data-mp4="http://file-examples.com/wp-content/uploads/2017/04/file_example_MP4_640_3MG.mp4" data-ogv="" data-webm="" data-poster="https://production.autoforce.com/uploads/show/media/274/Comprar_Mini_3_Portas.jpg"></div>
                </div>
                <div class="copy">
                    <div class="">
                        <a href="#"><img style="width: 50px" src="assets/images/public/LogoEmpresa.png" alt="logo cmicro"></a>
                    </div>
                    <h1 class="title">
                        <!-- Chamados Técnicos<small>Clínica do Micro</small> -->
                        <small>Clínica do Micro</small> Chamados Técnicos
                    </h1>
                    <div class="col-xs-12 col-sm-8 content-text">
                        <div class="text">
                            <p>Pense diferente. Registro informatizado de seus chamados para seu atendimento ser perfeito.</p>
                        </div>
                    </div>
                    <a href="http://www.softwaremachine.com.br/chamado-tecnico" class="cta" target="185">Acesse o Site</a>
                </div>
            </div>
            <div class="delimiter"></div>
        </div>
    </div>
</div>



<footer>
    <h5 class="">
        <a href="http://www.expresate.com.br" style="text-decoration-line: none" target="_black">Created by - <img width="50px" src="assets/images/public/logo.fw.png" alt="expresate"> - Expresate</a>
    </h5>
</footer>

<script src="{{ asset('assets/js/public/jquery-with-sizzle.min.js') }}"></script>
<script src="{{ asset('assets/js/public/jquery-migrate-1.2.1.min.js') }}"></script>
<script src="{{ asset('assets/js/public/jquery-ui.js') }}"></script>
<script src="{{ asset('assets/js/public/videos.js') }}"></script>


</body>
</html>
